# Environment Variables

PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://your_mongo_uri
MONGODB_DB_NAME=your_db_name
CORS_ORIGINS=http://your_origin
JWT_SECRET=your_jwt_secret
BCRYPT_SALT_ROUNDS=10
SEED_PASSWORD=your_seed_password
GEMINI_API_KEY=your_gemini_api_key
MAIL_SERVICE=your_mail_service
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_password

# Payment Settings

VN_PAY_MERCHANT_ID=your_vnpay_merchant_id
VN_PAY_SECRET_KEY=your_vnpay_secret_key
VN_PAY_RETURN_URL=http://your_backend_endpoint/vnpay/return
STRIPE_API_KEY=your_stripe_api_key
PAYPAL_CLIENT_ID=your_paypal_client_id